force-app/main/default/flows/Add_Season.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>If_season_already_exists</name>
        <label>If season already exists</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_Season</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_season_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Season_if_Exists.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Decision season exists</label>
        </rules>
    </decisions>
    <interviewLabel>Add_Season {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Season</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Season</name>
        <label>Create Season</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Finish_Season_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Sesaon_Name__c</field>
            <value>
                <elementReference>Season_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TV_Serie__c</field>
            <value>
                <elementReference>TvSerieId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Season__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Season_if_Exists</name>
        <label>Get Season if Exists</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_season_already_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sesaon_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Season_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>TV_Serie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TvSerieId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Season__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_error_Season</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;; color: rgb(36, 41, 47);&quot;&gt;The season with the same name already exist!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Season_Screen</name>
        <label>Finish_Season_Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish_Season_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Season has been created successfully!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Season_Screen</name>
        <label>Season Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Season_if_Exists</targetReference>
        </connector>
        <fields>
            <name>Season_Name</name>
            <dataType>String</dataType>
            <fieldText>Season Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Season_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TvSerieId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TV_Serie__c</objectType>
    </variables>
</Flow>
