package/flows/Add_Episode_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>If_episode_already_exists</name>
        <label>If episode already exists</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_Episode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_episode_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Episode_if_Exists.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Episode</targetReference>
            </connector>
            <label>Decision episode exists</label>
        </rules>
    </decisions>
    <interviewLabel>Add Episode Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Episode Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Episode</name>
        <label>Create Episode</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Finish_Season_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Episode_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Episode_Name__c</field>
            <value>
                <elementReference>Episode_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Season__c</field>
            <value>
                <elementReference>SeasonId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Episode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Episode_if_Exists</name>
        <label>Get Episode if Exists</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_episode_already_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Episode_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Episode_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Season__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SeasonId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Episode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Episode</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_error_Episode</name>
            <fieldText>&lt;p&gt;The episode already exists!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Season_Screen</name>
        <label>Finish_Season_Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish_Season_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Season has been created successfully!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Episode</name>
        <label>New Episode</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Episode_if_Exists</targetReference>
        </connector>
        <fields>
            <name>New_Episode_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Episode_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Episode_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Episode Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Episode_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Episode_Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Episode</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SeasonId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Season__c</objectType>
    </variables>
</Flow>
